# Ignore bundler install cache
.bundle/
vendor/bundle/

# Ignore logs and tmp files
log/
tmp/

# Ignore environment files
.env
.env.*

# Ignore test directories
spec/
test/

# Ignore IDE project files
.idea/

# Ignore Git metadata
.git/
.gitignore

# Ignore documentation
*.md
